*{
  margin: 0;padding: 0;
text-align: center;
justify-content: center;
/* background-color: black; */
color: rgb(28, 127, 214);
}
#dd, .form-check{
  width: 100%;
  margin: auto;
  align-items: center;
  text-align: center;
}